.component--container__global-topics-menu {
    position: fixed;
    background-color:rgba(253,111,115, 0.85);
    top: 0;
    bottom: 0;
    width: 320px;
    left:  -320px; 
    transition: left 200ms ease-in-out;
}
.menu-btn {
    position: fixed;
    height: 3.5rem;
    width: 3.5rem;
    color: var(--noc-theme-l);
    left: 24px;
    top: 16px;  
    transition: left 200ms ease-in-out;
}

.menu-btn:hover {
    color: var(--noc-theme-m);
}

.toggleMenuDrawer {
    left: 0px;
    transition: left 200ms ease-in-out;
}

.toggleBtnDrawer {
    left: 336px;
    transition: left 200ms ease-in-out;
}

.global-topics__topic-menu > ul {
    margin: 1rem 0 3rem;
    padding: 1rem;
    background-color: #f0f0f0;
    border-radius: var(--noc-border-radius);
    list-style: none;
    display: flex;
}
.global-topics-menu__topic > ul li {
    padding: 0.5rem 2rem;
    color:  #fff;
    font-size: 1.25rem;
}

.topic__content {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.content__title {
    color: #fff;
    padding: 2rem;
    border-bottom: 3px solid #fff;
    margin-bottom: 1.5rem;
}


.html {
    background-color: var(--noc-warning-m);
}

.css {
    background-color: var(--noc-info-m);
}


