<div class="component--container__home">
    <section class="home--sub-container home__about">
        <h2>
            Welcome to my blog
        </h2>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat aut delectus voluptate doloremque dicta
            mollitia inventore eveniet deserunt numquam ullam qui eos fuga ducimus explicabo non quisquam at obcaecati
            pariatur, officiis sed. Corporis ex provident quis officia illo ratione explicabo. Dolorum quibusdam at,
            magni rem temporibus cupiditate ipsum velit accusamus!
        </p>
    </section>

    <section class="home--sub-container home__how-to-guide">
        <h2>How to navigate this site</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus praesentium numquam voluptatibus et, a
            perspiciatis. Dicta dolor, enim aperiam, reiciendis laudantium doloribus omnis itaque, consequuntur laborum
            ex maiores inventore facilis eos soluta labore debitis! Quae minus ducimus similique, aspernatur eius maxime
            ea consequatur autem dolorem possimus rerum, voluptatibus, dolores illum exercitationem dignissimos. Illo,
            voluptatem magnam.</p>
    </section>

    <h2 class="home__guide-keys-title">Site Keys</h2>
    <section class="home__guide-keys">
        <div class="guide-keys__info guide-keys__guide">
            <svg xmlns="http://www.w3.org/2000/svg" class="key-svg info" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="guide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet fugit maiores
                eos temporibus veritatis pariatur repellendus doloremque et inventore.</p>
        </div>
        <div class="guide-keys__code guide-keys__guide">
            <svg xmlns="http://www.w3.org/2000/svg" class="key-svg code" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4" />
            </svg>
            <p class="guide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet fugit maiores
                eos temporibus veritatis pariatur repellendus doloremque et inventore.</p>
        </div>
        <div class="guide-keys__warning guide-keys__guide">
            <svg xmlns="http://www.w3.org/2000/svg" class="key-svg warning" fill="none" viewBox="0 0 24 24"
                stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                    d="M12 9v2m0 4h.01m-6.938 4h13.856c1.54 0 2.502-1.667 1.732-3L13.732 4c-.77-1.333-2.694-1.333-3.464 0L3.34 16c-.77 1.333.192 3 1.732 3z" />
            </svg>
            <p class="guide__text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum eveniet fugit maiores
                eos temporibus veritatis pariatur repellendus doloremque et inventore.</p>
        </div>
    </section>

</div>